@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(13, 17, 23);
    color: rgba(255, 255, 255, 0.8);
  }

  .bg-light {
    background-color: rgb(18, 24, 32) !important;
  }

  .u-bg-arrow-bottom::before {
    border-color: rgb(13, 17, 23) transparent transparent;
  }

  .border-class {
    background-color: rgb(35, 41, 48);
    box-shadow: none !important;
  }

  .form-control {
    background-color: rgb(13, 17, 23);
    color: rgba(255, 255, 255, 0.8);
    border-color: #191816;
  }

  .fc-unthemed .fc-content, .fc-unthemed .fc-divider, .fc-unthemed .fc-list-heading td, .fc-unthemed .fc-list-view, .fc-unthemed .fc-popover, .fc-unthemed .fc-row, .fc-unthemed tbody, .fc-unthemed td, .fc-unthemed th, .fc-unthemed thead {
    border-color: #333;
  }

  .fc-unthemed .fc-divider, .fc-unthemed .fc-list-heading td, .fc-unthemed .fc-popover .fc-header {
    background: #222;
  }

  .fc-unthemed td.fc-today {
    background: #2e2e2a;
  }

  .u-icon-block__col--left-brd {
    border-left-color: #333;
  }

  .u-icon-block {
    border-bottom-color: #222;
  }

}
