.u-content-space, .u-content-space-bottom, .u-content-space-top {
    margin-bottom: 0;
    padding-bottom: 2em;
    padding-top: 0em;
}

.container {
    padding-top: 0;
}

.election-percent {
    color: #000000 !important;
    font-size: 1.25em;
}

.election-percent b {
    color: #FF0000 !important;
}