@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

table {
  font-family: "Comfortaa", sans-serif;
}

td:hover {
  cursor: pointer;
}

td:hover > strong {
	color: #4282FB;
}

thead {
  font-family: "Audiowide", sans-serif;
  background-color: #324256;
  color: #FAFCFD;
}

.ics-week {
  font-family: "Comfortaa", sans-serif;
}

.ics-week #event-title {
  font-family: "Audiowide", sans-serif;
}

.ics-week #rsvp-link {
  font-family: "Audiowide", sans-serif;
}

.ics-week #zoom-link {
  font-family: "Audiowide", sans-serif;
}