// theme colors
$white: #f1f1f1;
$black: #222222;
$strawberry: #fcaec2;
$blueberry: #6b7aab;
$cotton-candy: #bec4da;

// extra colors
$light-strawberry: #ffdce5;
$hot-pink: #ff87a6;
$light-cotton-candy: #f4fcff;
