.accordion-button {
    background-color: transparent;
    border-color:transparent;
    width: 100%;
    font-size: 2rem;
    &:hover {cursor: pointer;}
}

.accordion-body {
    display: flex;
    flex-wrap: wrap;
    margin: 25px 0;
    justify-content: center;
    align-self: flex-start;
}