@import 'styles/variables';

.eventsGrid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.eventBox {
    margin: 25px;
    cursor: pointer;
    border-radius: 10px;
    background-color: $light-cotton-candy;
    width: 300px;
    color: black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.05) 0px 8px 16px -8px;
    &:hover { transform: scale(1.2);}
    transition: 0.3s;
    img {
        max-width: 300px;
        display: block;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        max-height: 300px;
        min-height: 300px;
        object-fit: cover;
    }
    span {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    p {
        font-size: 1.15rem;
        padding-left: 1rem;
        padding-right: 1rem;
        text-align: left;
    }
    h4 {
        font-size: 1.3rem;
        padding-left: 1rem;
        text-align: left;
    }
}

.sectionEvents {
    max-width: 90vw;
}

/* Extra small devices (phones, 380px and down) */
@media only screen and (max-width: 380px) {
    .eventBox {
        max-width: none;
        margin-top: 15px;
        min-height: none;
        img {
            width: 100%;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            max-height: 200px;
            min-height: 0px;
        }
        p {
            padding-left: .5rem;
        }
        h4 {
            font-size: 1.2rem;
            padding-left: .5rem;
        }
    }
}

/* Small devices (portrait tablets and large phones, 380px and down) */
@media only screen and (max-width: 380px) {}

/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {
    .sectionEvents {max-width: 95vw;}
}

/* Large devices (laptops/desktops, 992px and down) */
@media only screen and (max-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and down) */
@media only screen and (max-width: 1200px) {}