@import 'styles/variables';

// Future Proof Scroll Bar Style
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: $strawberry;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: $blueberry;
  border-radius: 2px;
}

*::-webkit-scrollbar-thumb {
  background-color:$strawberry;
  border-radius: 2px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-family: "DM Sans", sans-serif;
  line-height: 1.3;
  color: #1b1e24;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga", "kern";
  font-feature-settings: "liga", "kern";
  text-rendering: optimizelegibility;
  overflow-x: hidden;
  background-color: $light-cotton-candy;
}

.nav-link, .navbar-nav{
  color: $white!important;
  font-size: 1.2rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.section, .sectionAlt {
  display: flex;
  flex-direction: column;
  min-height:auto;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-right: 25px;
  padding-left: 25px;
  background-color: $blueberry;
  color: $light-cotton-candy;
  h2 {
      color: $hot-pink;
      font-size: calc(3rem);
      font-weight: 545;
      text-align: center;
  }
  p {
    font-size: calc(1.2rem);
    max-width: 1110px;
    text-align: center;
  }
  a{
    font-size: calc(1.2rem);
    color:$hot-pink
  }
}

.sectionAlt {
  background-color: $light-cotton-candy;
  p {color:$black}
  a {color:$hot-pink}
}

.footerImage {
  width:80vw;
  max-width: 650px;
}

.btn-close {
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: .25em;
  color: #000;
  background: transparent url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3E%3Cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3E%3C/svg%3E") 50%/1em auto no-repeat;
  border: 0;
  border-radius: .375rem;
  opacity: .5;
}

.pinkButton {
  background-color: $hot-pink;
  padding: 1rem;
  color: $light-cotton-candy;
  border: 0;
  border-radius: 100px;
  cursor: pointer;
  font-size: calc(1.2rem);
  transition: 0.8s;
}

.pinkButton:hover {background-color:$strawberry;}

/* Extra small devices (phones, 380px and down) */
@media only screen and (max-width: 380px) {}

/* Small devices (portrait tablets and large phones, 380px and up) */
@media only screen and (min-width: 380px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}