.heroBanner {
    height:calc(22rem);
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    line-height: 1.12;
    background-image: url("/assets/img/bg/bg3.jpg");
    transform: translateY(-76px);
    background-size: cover;
}

.heroTitle {
    position: relative;
    font-size: 48px;
    font-weight: 1000;
    color: #FCAEC2;
    max-width: 900px;
    margin: 48px;
    margin-left: 0;
    margin-right: 0;
}

.heroButton {
    font-size: 24px;
    font-weight: 600;
    max-width: 10em;
    position: relative;
    padding: 15px 30px;
    margin:0;
}

.imgRound {
    border-radius: 30px;
    max-width: 400px;
}

.coolImage {
    position: absolute;
    display: block;
    left: calc(50% - 400px);
    top: calc(20rem - 100px)
}

.eventBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.section {
    display: flex;
    flex-direction: column;
    min-height:auto;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    line-height: 1.4;
}

.sectionColorLight {
    display: flex;
    flex-direction: column;
    min-height:auto;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    line-height: 1.4;
    background-color: #f1f1f1;
}

.sectionTitle {
    font-size: 48px;
    font-weight: bold;
}

.sectionDesc {
    font-size: 26px;
    max-width: 1110px;
}

/* Extra small devices (phones, 380px and down) */
@media only screen and (max-width: 380px) {
    .heroTitle {
        font-size: 3rem;
    }
    .heroBanner {
        height:calc(20rem + 76px);
    }
}

/* Small devices (portrait tablets and large phones, 380px and up) */
@media only screen and (min-width: 380px) {
    .heroTitle {
        font-size: 3rem;
    }
    .heroBanner {
        height:calc(20rem + 76px);
    }
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .heroTitle {
        font-size: 44px;
    }
    .heroTitle {
        font-size: 4rem;
    }
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .heroBanner {
        height:calc(20rem + 76px);
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .heroTitle {
        font-size: 4rem;
    }

}