/* 76px is the height of the navbar */

.heroBanner {
    height:calc(25rem);
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    line-height: 1.12;
    /* background-image: url("/assets/img/bg/bg3.jpg"); */
    background-size: cover;
    background-color: #FCAEC2;
}

.heroTitle {
    position: relative;
    font-size: 40px;
    font-weight: 500;
    color: white;
    max-width: 500px;
    margin: 48px;
    margin-left: 0;
    margin-right: 0;
    font-family: 'Bungee';
}

.heroButton {
    font-size: 20px;
    font-weight: 500;
    max-width: 12em;
    position: relative;
    padding: 15px 30px;
    margin:0;
    border-radius: 30px;
    background-color:#6B7AAB;
    border: none;
}

.eventBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.section, .sectionColorLight {
    display: flex;
    flex-direction: column;
    min-height:auto;
    align-items: center;
    padding-top: 7.5rem;
    padding-bottom: 7.55rem;
    line-height: 1.4;
    padding-right: 15px;
    padding-left: 15px;
}

.sectionColorLight {
    background-color: #f1f1f1;
}

.sectionTitle {
    font-size: 48px;
    font-weight: 545;
    text-align: center;
}

.sectionDesc ,.sectionLink {
    font-size: 26px;
    max-width: 1110px;
    text-align: center;
}

.sectionLink {
    color: #506cc9;
    margin: 0px;
}

.heroGrid {
    padding: 0!important;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.heroGrid img {
    max-width: none;
    max-width: 350px;
    height: 100%
}

.heroGridItem {
    margin-left: 36px;
    margin-right: 36px;
    max-width: 600px;
}

.elementList {
    max-width: 1110px;
    text-align: center;
}

.elementListItem {
    display: inline-block;
    width: 300px;
    margin: 2rem;
}

/* Extra small devices (phones, 380px and down) */
@media only screen and (max-width: 380px) {
    .heroTitle {
        font-size: 3rem;
    }
    .heroBanner {
        height:calc(20rem + 76px);
        height:fit-content;
        transform: translateY(0px);
    }
    .heroGrid {
        flex-direction: column-reverse;
    }
    .heroGrid img {
        max-width: 280px;
        height: 100%
    }
}

/* Small devices (portrait tablets and large phones, 380px and up) */
@media only screen and (min-width: 380px) {
    .heroTitle {
        font-size: 3.5rem;
    }
    .heroBanner {
        height:calc(22rem + 76px);
        height:fit-content
    }
    .coolImage {
        top: calc(22rem + 76px);
    }
    .heroGrid {
        flex-direction: column-reverse;
        transform: translateY(0px);
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .heroTitle {
        font-size: 38px;
    }
    .heroTitle {
        font-size: 3.5rem;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .heroBanner {
        height:calc(20rem + 76px);
        height:fit-content
    }

    .heroGrid {
        flex-direction: row;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .heroTitle {
        font-size: 3.5rem;
    }
    .heroBanner {
        height:calc(25rem + 76px);
        height:fit-content
    } 
}