.affiliates {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px; 
}

.affiliate-icon {
    width: 100px;
    height: 100px;
}

.awardsCol{
    padding-top:5rem;
    text-align: center;
}

.boardMembers {
    display: flex;
    flex-wrap: wrap;
}

.boardMember {
    width: 25%;

}
 