@import 'styles/variables';



.affiliates {
    display: flex;
    justify-content:center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px; 
    width:90%;
    padding-top:1rem;

}

.affiliate-icon {
    width: 100px;
    height: 100px;
}

.outlineContainer {
    border: 2px solid $hot-pink;
    border-radius:40px;
    padding:2rem;
}

.awardsCol{
    padding-top:5rem;
    text-align: center;
}

.boardMembers {
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
}

.missionCol {
    display:flex;
    flex-direction:column;
    align-items:center;

    border: 2px solid $hot-pink;
    border-radius:40px;
    padding:2rem;
    margin:1rem;
}


.visionColumn{
    list-style: none;
}

.visionColumn li {
    display:flex;
    flex-direction:column;
    align-items:center;
}

.iconBg{
    border: 2px solid $hot-pink;
    width:70px;
    height:70px; 
    border-radius:50%;
    padding: 0.5rem;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color: $hot-pink;
}

.pastBoards {
    border: 2px solid $hot-pink;
    border-radius:10%;
    padding: 15px;
}

.button {
    background-color: $blueberry;
    color:$white;
    border: 2px solid $hot-pink;
    border-radius:20%;
    padding:1rem;
    
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;

    box-shadow: 0px 12px 35px -4px $blue-shadow;
    -webkit-box-shadow: 0px 12px 35px -4px $blue-shadow;
    -moz-box-shadow: 0px 12px 35px -4px $blue-shadow;
}

.button:hover{
    cursor: pointer;
}