@import 'styles/variables';

// Vision Style
.iconBg{
    border: 3px solid $hot-pink;
    width:60px;
    height:60px; 
    border-radius:50%;
    padding: 0.5rem;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color: $hot-pink;
    margin-left: calc(50% - 30px);
    margin-top: 25px;
    margin-bottom: 10px;
}

.visionGrid{ p{max-width: 600px;} }

// Member Club Style
.horizontalGallery {
    display: flex;
    overflow-x: scroll;
    width: calc(80vw);
    margin-bottom: 25px;
}
  
.galleryCard {
    align-self: center;
    color:black;
    min-width: 200px;
    border-radius: 5px;
    img {width: 100%; border-radius: 10px;}
}
  
.galleryImageContainer {
      height: fit-content;
      padding: 20px;
}


/* Extra small devices (phones, 380px and down) */
@media only screen and (max-width: 380px) {}

/* Small devices (portrait tablets and large phones, 380px and up) */
@media only screen and (min-width: 380px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}