.projectGrid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.projectBox {
    width: 400px;
    border-width: 5px;
    border-style:solid;
    border-radius: 10px;
    border-color: #6B7AAB;
}

.projectBox img{
    max-width: 100%;
    width: fit-content;
    display: block;
}

.projectBox p{
    font-size: 1.15rem;
}

.projectBox h4{
    font-size: 1.8rem;
}


.section {
    padding-left: 15px;
    padding-right: 15px;
}

.section, .sectionProjects {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1500px;
    margin: auto;
}